<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <title>Random Word Generator</title>
</head>
<body>
    <div id="wrapper">
        <h1>Random Word(attempt #{{ request.session.counter }})</h1>
        <p>{{ request.session.num }}</p>
        <a href= "/">Generate</a>
        <a href= "generate/reset">Reset</a>
        <ul>
            {% for i in request.session.lst %}
                <li>{{ i }}</li>
            {% endfor %}
        </ul>   
        

    </div>
</body>
</html>