<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angry Alligagators</title>
</head>
<body>
    <div class="conatiner">
        <h1>Angry Alligator Annonymous</h1>
        <h2>we dont habevekjndlfgkjfbdjhs,a  bkjhj {{animal}}</h2>
        <h3>here is our list</h3>
        <ul>
            {% for aligator in memeber_list %}
                <li>{{aligator}}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>