*{
    margin: 20px auto;
}

#wrapper {
    
    /* margin-top: 100px, auto; */
    width:500px;
    
    
}
h1{
    font-size: 1.5rem;
    text-align: center;
    
}
p{
    
    font-size: 3rem; 
    padding: 30px;
    text-align: center;
    border: 5px solid black;
    
   
}

a {
    
    text-decoration: none;
    color: black;
    border:3px solid black;
    box-shadow: 5px 2px gray;
    margin-left: 10px;
}