<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="">
            <a href="/books">Home</a>
            <a href= "/books/new">Add Book and Reviews</a>
            <form action="/logout" method ="POST">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Logout</button>
            </form>
            <h1>User Alias: {{user.first_name}}</h1>
            <p>Name:{{user.first_name}} {{user.last_name}} </p>
            <p>Email: {{user.email}}</p>
            <p>Total reviews: {{user.user.all|length}}</p>
         <ul>
             {% for review in user.user.all %}
                 <li><a href="/books/{{review.book.id}}">{{review.book.title}}</a></li>
             {% endfor %}
             
         </ul>
        
        </div>
    </div>
</body>
</html>